.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    color: #222;
    font-weight: 300;
}

.body__category__tittle {
    margin-bottom: 10px;
}

.scroll-lock {
    overflow: hidden;
}


.wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main_wrapper {
    width: 100%;
}

.main_container {
    width: 1500px;
    margin: 0 auto;
}




.container {
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 100%;
    padding: 0 15px;
    width: 1560px;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

*{
  margin: 0;
  padding: 0;

}

body{
  background: #fff;
  color: #222;
  font-weight: 300;
}

.body__category__tittle{
 margin-bottom: 10px;
}
.scroll-lock {
  overflow: hidden;
}


.wrapper{
  margin-top: 20px;
  display: flex;
  justify-content: center; 
  align-items: center;


}

#main_wrapper{
  width: 100%;
}

.main_container{
  width: 1500px;
  margin: 0 auto;
  
}



.container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 100%;
  padding: 0 15px;
  width: 1560px;
}

.title {
    margin: 0;
    font-family: var(--kmnd-body-font-family-secondary);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.6rem;
    line-height: 1.667;
}

.arrivals__heading {
    display: block;
    margin-bottom: 20px;
}

.arrivals__heading-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.btn {
    border: none;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    color: #ffffff;
    padding: 7px 13px;
    min-height: 50px;
    font-size: 1.125rem;
}